language: python

python:
    - "2.7"
    - "3.4"
    - "3.5"
    - "3.6"

install:
    - pip install -r requirements.pip
    - pip install -r requirements-dev.pip
    - pip install -e .

script: ./coverage
